﻿<!-- main app container -->
<!-- <div class="jumbotron"> -->
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <alert></alert>
            <router-outlet></router-outlet>
        </div>
    </div>
<!-- </div> -->

<!-- credits -->
<div class="text-center">
    <p>
        <!-- <a href="http://jasonwatmore.com/post/2016/09/29/angular-2-user-registration-and-login-example-tutorial" target="_top">Angular 2 User Registration and Login Example & Tutorial</a> -->
        <!-- <span>Strange Graphs Inc.</span> -->
    </p>
    <!-- <p>
        <a href="http://jasonwatmore.com" target="_top">JasonWatmore.com</a>
    </p> -->
</div>